In [73]:
#defining Vehicle class here

class Vehicle:
    def __init__(self, vmk, vmd, vy, vml):
        self.__make = vmk
        self.__model = vmd
        self.__year = vy
        self.__mileage = vml

    def get_make(self):
        return self.__make

    def get_model(self):
        return self.__model

    def get_year(self):
        return self.__year

    def get_mileage(self):
        return self.__mileage

    def set_make(self, vmk):
        self.__make = vmk

    def set_model(self, vmd):
        self.__model = vmd

    def set_year(self, vy):
        self.__year = vy

    def set_mileage(self, vml):
        self.__mileage = vml

    def __str__(self):
        return "Make: " + self.__make + "; Model: " + self.__model + "; Year of Manufacture: " + str(self.__year) + "; Mileage: " + str(self.__mileage)

In [74]:
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.get_mileage())
vehicle1.set_year(2012)
print("The year of manufacture of this vehicle is:", vehicle1.get_year())

Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [79]:
#defining Employee class here

class Employee:
    def __init__(self, nm, addr, veh):
        self.__emp_name = nm
        self.__emp_addr = addr
        self.__vehicle = veh
    def get_emp_name(self):
        return self.__emp_name
    def get_emp_addr(self):
        return self.__emp_addr
    def get_vehicle(self):
        return self.__vehicle
    def set_emp_name(self, nm):
        self.__emp_name = nm
    def set_emp_addr(self, addr):
        self.__emp_addr = addr
    def set_vehicle(self, veh):
        self.__vehicle = veh
    def compute_compensation(self):
        pass
    def __str__(self):
        allData = "\nEmployee Name: " + self.__emp_name
        allData += "; Employee Address: " + str(self.__emp_addr)
        allData +=  "\n" + self.__vehicle.__str__()
        return allData

In [80]:
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))
print("{0} owns a {1} {2} vehicle.".format(emp1.get_emp_name(),emp1.get_vehicle().get_make(),emp1.get_vehicle().get_model()))
emp1.set_emp_addr("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))

Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [97]:
#defining Full Time Employee class here

class FullTimeEmployee(Employee):
    def __init__(self, nm, addr, veh, sal):
        Employee.__init__(self,nm, addr, veh)
        self.__salary = sal
    def get_salary(self):
        return self.__salary
    def set_salary(self, sal):
        self.__salary = sal
    def compute_compensation(self):
        if self.__salary <= 45000:
            annual_compensation = self.__salary * (1 - 0.18)
        elif self.__salary <= 82000:
            annual_compensation = (self.__salary - 45000) * (1 - 0.28) + 36900
        else:
            annual_compensation = (self.__salary - 82000) * (1 - 0.33) + 63540
        return (annual_compensation/52)
    def compute_reimbursement(self,ae):
            if ae <= 10000:
                 self.__re = ae/52
            else:
                 self.__re = (10000+(0.05*(ae-10000)))/52
            return self.__re
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Full Time Employee are:" + childData
        childData += "\nSalary: " + '{0:0.2f}'.format(self.__salary)
        return childData

In [98]:
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_reimbursement(12000)))
emp2.set_salary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 40000.00
Amy has an annual salary of $40000.
Amy has a weekly compensation of $630.77.
Amy has a weekly reimbursement of $194.23.
Amy has an annual salary of $50000.

In [1]:
#defining Hourly Employee class here

class HourlyEmployee(Employee):
    def __init__(self, nm, addr, veh, hw, hr):
        Employee.__init__(self,nm, addr, veh)
        self.__hours_wrkd = hw
        self.__hourly_rate = hr
    def get_hours_worked(self):
        return self.__hours_wrkd
    def get_hourly_rate(self):
        return self.__hourly_rate
    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw
    def set_hourly_rate(self, hr):
        self.__hourly_rate = hr
    def compute_compensation(self):
        if self.__hours_wrkd > 40:
            return self.__hourly_rate * 40 + self.__hourly_rate * 1.8 * (self.__hours_wrkd - 40)
        else:
            return self.__hourly_rate * self.__hours_wrkd
    def compute_reimbursement(self,we):
            if we <= 100:
                 self.__we = we
            else:
                 self.__we = 100
            return self.__we
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Hourly Employee are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Hourly Rate: " + str(self.__hourly_rate)
        return childData

NameError: name 'Employee' is not defined

In [100]:
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_reimbursement(120)))
emp3.set_hourly_rate(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 50; Hourly Rate: 20
Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [204]:
#defining Consultant class here

class Consultant(Employee):
    def __init__(self, nm, addr, veh, hw, pt):
        Employee.__init__(self, nm, addr, veh)
        self.__hours_wrkd = hw
        self.__project_type = pt
    def get_hours_worked(self):
        return self.__hours_wrkd
    def get_project_type(self):
        return self.__project_type
    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw
    def set_project_type(self, pt):
        self.__project_type = pt
    def compute_compensation(self):
        if self.__project_type == 1:
            hrly_rate = 55
        elif self.__project_type == 2:
            hrly_rate = 70
        else:
            hrly_rate = 85
        return self.__hours_wrkd * hrly_rate
    def compute_reimbursement(self,we):
            if self.__project_type == 1:
                 self.__we = we
            elif self.__project_type == 2:
                 self.__we = 0.9*we
            elif self.__project_type == 3:
                 self.__we = 0.8*we   
            return self.__we
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Consultant are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Project Type: " + str(self.__project_type)
        return childData

In [205]:
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_reimbursement(300)))
emp4.set_hours_worked(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 40; Project Type: 2
Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [202]:
#defining Management class here

class Management(FullTimeEmployee,Consultant):
    def __init__(self,nm,adr,veh,sal,hw,pt):
        Employee.__init__(self,nm,adr,veh)
        FullTimeEmployee.__init__(self,nm,adr,veh,sal)
        Consultant.__init__(self,nm,adr,veh,hw,pt)      
    def compute_compensation(self):
        self.__comp= (FullTimeEmployee.compute_compensation(self)+Consultant.compute_compensation(self))
        return self.__comp
    def compute_reimbursement(self, ae, we):
        self.__reim= (FullTimeEmployee.compute_reimbursement(self,ae)+Consultant.compute_reimbursement(self,we))
        return self.__reim
    def __str__(self):
        childData = "\nDetails of this Management are: \n" +"Employee Name: "+(self.get_emp_name())+"; Employee Address: "+(self.get_emp_addr())+"\n"+str(self.get_vehicle())+"\nSalary: " +str(self.get_salary())+ "; Hours Worked: "+str(self.get_hours_worked())+"; Project Type: "+str(self.get_project_type())
        return childData

In [203]:
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.get_emp_name(),emp5.get_salary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.get_emp_name(),emp5.get_hours_worked(),emp5.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_reimbursement(8000,300)))

Details of this Management are:
Employee Name: Jane; Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 120000; Hours Worked: 10; Project Type: 3


Jane has an annual salary of $120000.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2561.54.
Jane has a weekly reimbursement of $393.85.

In [107]:
#get_emp_input() function to prepare for the main menu application

def get_emp_input():
    name = input("Enter the name of the employee")
    address = input("Enter the address of the employee")
    return name, address

In [109]:
#example input: Bob; 350 E Campbell Road, Richardson, Texas, 75080
name, address=get_emp_input()
print("{0} lives at {1}.".format(name,address))

Enter the name of the employeebob
Enter the address of the employeecampbell
bob lives at campbell.

In [110]:
#get_vehicle_input() function to prepare for the main menu application
#this function is used to ask for vehicle information and then return them: make,model,year,mileage
#this function doesn't take arguement(s)

def get_vehicle_input():
    veh_make = input('Enter the vehicle make: ')
    veh_model = input('Enter the vehicle model: ')
    while(True):
        try:
            veh_yr = int(input('Enter the manufacturing year in this format (yyyy): '))
            if veh_yr < 1900 or veh_yr > 2020: 
                raise ValueError
            break
        except ValueError:
                print('Please enter an integer value for year in the format of yyyy between 1900 and 2020.') 

    while(True):
        try:       
            veh_mil = int(input('Enter the vehicle mileage: '))
            if veh_mil < 0:
                raise ValueError
            break
        except ValueError:
                print('Please enter a positive number for mileage.') 

    return (veh_make, veh_model, veh_yr, veh_mil)

In [111]:
#example input:Ford; Ranger; 2021 (when asked to enter again enter 2011); 80000
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter the vehicle make: Ford
Enter the vehicle model: Ranger
Enter the manufacturing year in this format (yyyy): 2021
Please enter an integer value for year in the format of yyyy between 1900 and 2020.
Enter the manufacturing year in this format (yyyy): 2012
Enter the vehicle mileage: 20000
The vehicle entered is a Ford Ranger made in 2012 with 20000 mileage curently.

In [112]:
#get_full_time_input() function to prepare for the main menu application
#this function is used to ask for specific information of full time employees and then return it: annual salary
def get_full_time_input():
    salary = float(input("Enter the salary of the full tiime employee"))
    return salary

In [113]:
#example input:80000
salary=get_full_time_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Enter the salary of the full tiime employee80000
The annual salary entered is 80000.00

In [114]:
#get_hourly_input() function to prepare for the main menu application
#this function is used to ask for specific information of hourly employees and then return them: hours worked, hourly rate

def get_hourly_input():
    hr_worked = int(input("Enter the number of hours worked by the hourly employee"))
    hr_rate = float(input("Enter the hourly rate of the employee"))
    return hr_worked, hr_rate

In [115]:
#example input: 30; 20
hours_worked, hourly_rate = get_hourly_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter the number of hours worked by the hourly employee30
Enter the hourly rate of the employee20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [116]:
# get_consultant_input() function to prepare for the main menu application
#this function is used to ask for specific information of consultants and then return them: hours worked, project type

def get_consultant_input():
    hr_worked = int(input("Enter the number of hours worked by the consultant"))
    pj_type = int(input("Enter the project type of the consultant"))
    return hr_worked, pj_type

In [117]:
#example input: 40; 2
hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter the number of hours worked by the consultant40
Enter the project type of the consultant2
This consultant works 40 hours per week for type 2 project.

In [118]:
#get_management_input() function to prepare for the main menu application
#this function is used to ask for specific information of managements and then return them: annual salary, hours worked, project type

def get_management_input():
    an_sal = float(input("Enter the annual salary of the employee"))
    hr_worked = int(input("Enter the number of hours worked by the employee"))
    pj_type = int(input("Enter the project type of the employee"))
    return an_sal, hr_worked, pj_type

In [119]:
#example input: 100000; 8; 3
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Enter the annual salary of the employee100000
Enter the number of hours worked by the employee8
Enter the project type of the employee3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [136]:
#read_file_data() function to prepare for the main menu application
#this function is used to read information from an existing databse/binary file, which is empdata.dat in the final exam

import pickle
def read_file_data():
    with open('empdata.dat', 'rb') as f:
        emp_list =[]
        while(1):
            try:
                emp_list.append(pickle.load(f))
            except EOFError:
                break
            except:
                pass
    return emp_list

In [137]:
emp_list=read_file_data()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].get_emp_name()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database:
Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Amy is the first employee.

In [138]:
#the idea is to walk through users to input required information
#the first and foremost step is to ask for emloyee type
#this function prints the entered object and also returns the entered object

def run_option1():
    while(1):
        try:
            emp_type = int(input("Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)"))
            if emp_type<1 or emp_type>4:
                raise ValueError
            else:
                break
        except ValueError:
            print("Please select an option from 1, 2, 3, and 4")
           
    name, address = get_emp_input()
    
    vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()    
    
    a_vehicle = Vehicle(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage)

    if emp_type == 1:
        sal = get_full_time_input()
        an_emp = FullTimeEmployee(name, address, a_vehicle,sal)
    elif emp_type == 2:
        hw, hr = get_hourly_input()
        an_emp = HourlyEmployee(name, address, a_vehicle, hw, hr)
    elif emp_type == 3:
        hw, pt = get_consultant_input()
        an_emp = Consultant(name, address, a_vehicle, hw, pt)
    elif emp_type ==4:
        sal, hw, pt = get_management_input()
        an_emp = Management(name, address, a_vehicle, sal, hw, pt)
    
    print(an_emp)
    
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")     
    return an_emp

In [139]:
#example input: 5 (then zzz then 4); David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3;2018;5000;110000;5;2
run_option1()

Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter the name of the employeeDavid
Enter the address of the employee103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the manufacturing year in this format (yyyy): 2018
Enter the vehicle mileage: 5000
Enter the annual salary of the employee110000
Enter the number of hours worked by the employee5
Enter the project type of the employee2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.0; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [141]:
def run_option2(my_lst):
    while(1):
        try:
            emp_count = int(input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? "))
            if emp_count == 1 or emp_count==2:
                break
            else:
                raise ValueError
        except ValueError:
            print("Please select option 1 or option 2")
    if emp_count == 1:
        print("\n============================================================")        
        print("Below is the information of all the employees stored in the database.")
        print("==============================================================")
        for i in range(0,len(my_lst)):
            print(my_lst[i])
    else:
        if len(my_lst) >= 5:
            print("\n============================================================")        
            print("Below is the information of all the employees stored in the database.")
            print("==============================================================")
            for i in range(0,5):
                print(my_lst[i])
        else:
            print("\n============================================================")        
            print("Below is the information of all the employees stored in the database.")
            print("==============================================================")
            for i in range(0,len(my_lst)):
                print(my_lst[i])

In [142]:
run_option2(emp_list)

Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 3
Please select option 1 or option 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? zzz
Please select option 1 or option 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 2

============================================================
Below is the information of all the employees stored in the database.
==============================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

In [143]:
def run_option3(my_lst):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    for i in range(0,len(my_lst)):
        print("{0}'s weekly compensations is ${1:0.2f}".format(my_lst[i].get_emp_name(),my_lst[i].compute_compensation()))

In [144]:
run_option3(emp_list)

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensations is $630.77
Bob's weekly compensations is $1194.23
Evan's weekly compensations is $1711.54
Grace's weekly compensations is $1160.00
James's weekly compensations is $750.00
Luna's weekly compensations is $300.00
Michael's weekly compensations is $2200.00
Tom's weekly compensations is $3500.00
Zoey's weekly compensations is $2550.00

In [145]:
def run_option4(my_lst):
    ename_list = []
    e_name = input("Please enter the name of the employee you want to search: ")
    e_name=e_name.upper()
    for i in range(0,len(my_lst)):
        if my_lst[i].get_emp_name().upper() == e_name:
            ename_list.append(my_lst[i])
            
    if len(ename_list) == 0:
        print('There is no employee matching the name you entered.')
        return ename_list
    
    print('==========================================================================')
    print('Below is the information of all employees that match the name you entered.')
    print('==========================================================================')
    
    for i in range(0, len(ename_list)):
        print(ename_list[i])
    return ename_list

In [146]:
matched_emp_list=run_option4(emp_list)
print("\nThere are {} employees matching your search.".format(len(matched_emp_list)))

Please enter the name of the employee you want to search: tom
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

There are 1 employees matching your search.

In [147]:
run_option4(emp_list)

Please enter the name of the employee you want to search: hongchang
There is no employee matching the name you entered.

[]

In [154]:
def run_option5(my_lst):
    emp_count = len(my_lst)
    mean_comp = 0
    max_comp = 0
    count = 0
    for i in range(0,len(my_lst)):
        if my_lst[i].compute_compensation() > max_comp:
            max_comp = my_lst[i].compute_compensation()
        mean_comp += my_lst[i].compute_compensation()
        if my_lst[i].get_vehicle().get_mileage() > 100000:
            count += 1
    print("There are {0} employees stored in this employee database.".format(emp_count))
    print("The highest weekly compensation is ${0:0.2f}.".format(max_comp))
    print("The mean weekly compensation is: ${0:0.2f}.".format(mean_comp/emp_count))
    print("The number of employees who have a vehicle with over 100,000 mileage is {0}.".format(count))

In [155]:
run_option5(emp_list)

There are 9 emplyees stored in this employee database.
The highist weekly compensation is 3500.
The mean weekly compensation is: 1555.1709401709402.
The number of employees who have a vehicle with over 100,000 mileage is 2.

In [174]:
def run_option6(emp_list):
    matched_list=run_option4(emp_list)
    choice=int(input("Which employee do you want to check (enter a number)?"))
    emp_data=matched_list[choice-1]
    if type(emp_data) is Consultant or type(emp_data) is HourlyEmployee:
        exp = int(input('What is the weekly expense? '))
        reimb = emp_data.compute_reimbursement(exp)
    elif type(emp_data) is FullTimeEmployee:
        exp = int(input('What is the annual expense? '))
        reimb = emp_data.compute_reimbursement(exp)
    else:
        annual_exp = int(input('What is the annual expense? '))
        week_exp = int(input('What is the weekly expense? '))
        reimb = emp_data.compute_reimbursement(annual_exp, week_exp)
        
    print('\n\n############################################################')
    print('This employee should have a weekly reimbursement of ${0:0.2f}.'.format(reimb))

In [175]:

run_option6(emp_list)

Please enter the name of the employee you want to search: bob
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00
Which employee do you want to check (enter a number)?1
What is the annual expense? 8000


############################################################
This employee should have a weekly reimbursement of $153.85.

In [176]:
run_option6(emp_list)

Please enter the name of the employee you want to search: james
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
Which employee do you want to check (enter a number)?1
What is the weekly expense? 130


############################################################
This employee should have a weekly reimbursement of $100.00.

In [177]:
import pickle
import sys
def run_option7(my_lst):
    print('You chose to exit the program')
    userinp = input('Are you sure (Y/N)?')
    if userinp =='Y' or userinp == 'y':
        with open('empdata_updated.dat', 'wb') as file:
            for i in range(0,len(my_lst)):
                pickle.dump(my_lst[i], file)
        print("\n=================================")
        print("Program successfully being closed")
        print("=================================")
        sys.exit()
    elif userinp != 'n' and userinp != 'N':
        print("Your input doesn't match any valid option and has been considered as 'N'.")
        print("Going back to the selection menu.")
    else:
        print("=================================")
        print("Going back to the selection menu.")
        print("=================================")

In [178]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)?b
Your input doesn't match any valid option and has been considered as 'N'.
Going back to the selection menu.

In [179]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)?n
=================================
Going back to the selection menu.
=================================

In [180]:
run_option7(emp_list)

You chose to exit the program
Are you sure (Y/N)?y

=================================
Program successfully being closed
=================================

SystemExit:

C:\Users\Sindhu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3426: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [196]:
def run_menu_options():
    #read employee objects in to a list
    emp_list = read_file_data()
    
    sel = 1
    while sel <=  7 and sel >= 1:
        #display options
        while True:
            print("\n==== Menu ====")
            print("1. To add an employee")
            print("2. To print the name and address of employees")
            print("3. To print the employee name and compensation of all employees")
            print("4. To search for employees by name")
            print("5. To check the basic statistics of employees")
            print("6. To calculate the reimbursement of one employee")
            print("7. To exit program")
        
        #take selection input
        
            try:
                sel=int(input('Your selection is:'))
                if(sel<1 or sel>7):
                    raise ValueError
                break
            except ValueError:
                print('=====================================')
                print('You must enter an integer between 1 and 7!')
                print('=====================================')
        
        #execute selection
        if sel == 1:
            emp_list.append(run_option1())
        elif sel == 2:
            run_option2(emp_list)
        elif sel == 3:
            run_option3(emp_list)
        elif sel == 4:
            run_option4(emp_list)
        elif sel == 5:
            run_option5(emp_list)
        elif sel == 6:
            run_option6(emp_list)
        elif sel == 7:  
            run_option7(emp_list)
        else:
            print("Invalid choice!")

In [197]:
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:y
=====================================
You must enter an integer between 1 and 7!
=====================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:7
You chose to exit the program
Are you sure (Y/N)?y

=================================
Program successfully being closed
=================================

SystemExit:

In [207]:
#step 1: choose option 1 three times and enter the following three employees (5 points)
#type 4 employee: David; 103 E Campbell Road, Richardson, Texas, 75080; BMW; X3; 2018;5000;110000;5;2
#type 4 employee: Grace; 105 E Campbell Road, Richardson, Texas, 75080; Porsche; Cayenne; 2019;3000;150000;8;1
#type 4 employee: Zoey; 107 E Campbell Road, Richardson, Texas, 75080; Audi; A3; 2015;35000;90000;10;3

#step 2: choose option 2
#then choose 1

#step 3:choose option 3 (5 points)

#step 4:choose option 4 
#then type in: grace (all lower cases)

#step 5:choose option 5 (5 points)

#step 6:choose option 6 (5 points)
#then type in: ZOEY (all upper cases); then 1; then 120

#step 7:choose option 7
#then type in: y
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 1

============================================================
Below is the information of all the employees stored in the database.
==============================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:3

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensations is $630.77
Bob's weekly compensations is $1194.23
Evan's weekly compensations is $1711.54
Grace's weekly compensations is $1160.00
James's weekly compensations is $750.00
Luna's weekly compensations is $300.00
Michael's weekly compensations is $2200.00
Tom's weekly compensations is $3500.00
Zoey's weekly compensations is $2550.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:3

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensations is $630.77
Bob's weekly compensations is $1194.23
Evan's weekly compensations is $1711.54
Grace's weekly compensations is $1160.00
James's weekly compensations is $750.00
Luna's weekly compensations is $300.00
Michael's weekly compensations is $2200.00
Tom's weekly compensations is $3500.00
Zoey's weekly compensations is $2550.00

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:4
Please enter the name of the employee you want to search: grace
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:5
There are 9 emplyees stored in this employee database.
The highist weekly compensation is 3500.
The mean weekly compensation is: 1555.1709401709402.
The number of employees who have a vehicle with over 100,000 mileage is 2.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:6
Please enter the name of the employee you want to search: zoey
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3
Which employee do you want to check (enter a number)?1
What is the weekly expense? 120


############################################################
This employee should have a weekly reimbursement of $96.00.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is:7
You chose to exit the program
Are you sure (Y/N)?y

=================================
Program successfully being closed
=================================

SystemExit: